@model IEnumerable<T034.ViewModel.GuestBookItemViewModel>

@{
    ViewBag.Title = "Гостевая книга";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("Добавить", "AddOrEdit", "GuestBook")
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Автор</th>
            <th>Контакт</th>
            <th>Показать</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Date</td>
        <td>@item.Author</td>
        <td>@item.Contact</td>
        <td>
            @if (item.IsShow)
            {
                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
            }
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit", new { id = item.Id})" title="Редактировать"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
            <a href="@Url.Action("Delete", new { menuItemId = item.Id})" title="Удалить"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
        </td>
      </tr>
    }
    </tbody>
</table>
