@model IEnumerable<T034.ViewModel.SettingViewModel>

@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Добавить", "AddOrEdit", "Setting")
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Название</th>
            <th>Код</th>
            <th>Значение</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Code</td>
        <td>@item.Value</td>
        <td>@Html.ActionLink("Редактировать", "AddOrEdit", new { id = item.Id })</td>
      </tr>
    }
    </tbody>
</table>
