<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/lightbox/jquery.lightbox-0.5.css")" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/pic/favicon.ico")"/>

        @{
            if (Request.Cookies["style"] == null)
            {
                <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css"/>
            }
            else
            {
                switch (Request.Cookies["style"].Value)
                {
                    case "BlackSpecial":
                        <link href="@Url.Content("~/Content/blackspecial.css")" rel="stylesheet" type="text/css"/>
                        break;
                    case "WhiteSpecial":
                        <link href="@Url.Content("~/Content/whitespecial.css")" rel="stylesheet" type="text/css" />
                        break;
                    default:
                        <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css"/>
                        break;
                }
            }
        }

        <script src="/Scripts/require.js"></script>
        <script src="/Scripts/main.js"></script>

    </head>

<body>

    @{
        Html.RenderAction("ManagementMenu", "Navigation");
    }
    @{
// Html.RenderPartial("BannerPartialView");
    }
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a id="up"></a>
            <!-- Баннер + логотип + меню -->
            <div class="banner" id="banner">
            </div>
            <div class="mmenu" id="menu">
                <div class="btn-menu"><a href="#about" class="main-menu">О нас</a>
                </div>
                <div class="btn-menu"><a href="#foodmenu" class="main-menu">Меню</a>
                </div>
                <div class="btn-menu"><a href="#news" class="main-menu">Новости</a>
                </div>
                <div class="btn-menu"><a href="#guests" class="main-menu">Гостевая книга</a>
                </div>
                <div class="btn-menu"><a href="#gallery" class="main-menu">Фотогалерея</a>
                </div>
                <div class="btn-menu"><a href="#delivery" class="main-menu">Доставка</a>
                </div>
                <div class="btn-menu"><a href="#businesslunch" class="main-menu">Бизнес-ланч</a>
                </div>
            </div>

            <div role="alert" class="alert alert-danger" id="errorContainer" style="display: none"></div>
            <div role="alert" class="alert alert-success" id="successContainer" style="display: none"></div>

            @RenderBody()

            <button onclick="topFunction()" id="btnUp" title="Наверх">
                <img src="@Url.Content("~/Content/pic/arrow-up.png")" alt="Наверх" title="Наверх">
            </button>

            <div class="bline">
                2018 &copy; Ресторан "Швейк"<a href="@Url.Action("Index", "Home")"></a>
            </div>
        </div>

    </div>

</div>
        @*<div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                @{
                    Html.RenderAction("MainMenu", "Navigation");
                }
                @{
//Html.RenderPartial("LowVisionPartialView");
                }
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <span class="pull-right"><a href="@Url.Action("Index", "Home")">2018 © Ресторан Швейк</a></span>
            </div>
            <div class="col-md-2">
            </div>
        </div>*@
        <script type="text/javascript">
    require(['jquery', 'bootstrap', 'layout', 'app/@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]'], function($, bootstrap, layout, view) {
        layout.Initialize();
        view.Initialize();
    });

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>

        @RenderSection("scripts", required: false)
</body>
</html>
