@model IEnumerable<T034.ViewModel.MenuItemViewModel>
                          <div class="center-block" id="menu">
                              <nav class="navbar">
                                  <div class="container-fluid">
                                      <div class="navbar-header">
                                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                              <span class="dark-pink-text">
                                                <i class="fa fa-bars fa-1x">
                                                </i>
                                            </span>
                                          </button>
                                      </div>
                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                          <ul class="nav navbar-nav">
                                              <li class="dropdown">
                                                  <img src="@Url.Content("~/Content/pic/logo_sm.png")">
                                              </li>
                                                  @{
                                                      foreach (var menuItem in Model)
                                                      {
                                                        <li class="dropdown @menuItem.Active">
                                                          @if (menuItem.Url == "#")
                                                          {
                                                              <a href="@menuItem.Url" class="dropdown-toggle main-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@menuItem.Title</a>
                                                          }
                                                          else
                                                          {
                                                              <a href="@menuItem.Url" class="main-menu">@menuItem.Title</a>
                                                          }
                                                          @if (menuItem.Childs.Any())
                                                          {
                                                              <ul class="dropdown-menu">
                                                                  @foreach (var subMenuItem in menuItem.Childs)
                                                                  {
                                                                      <li><a class="" href="@subMenuItem.Url">@subMenuItem.Title</a></li>
                                                                  }
                                                              </ul>
                                                          }
                                                      </li>
                                                  }
                                              }
                                          </ul>
                                      </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                              </nav>
                          </div>
