@model T034.ViewModel.RoleViewModel

@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrEdit", "Role"))
{
    <div class="control-group warning">
        <label class="control-label">@Html.LabelFor(m => m.Name)</label>
        <div>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.HiddenFor(m => m.Id)
        </div>
        
        <label class="control-label">@Html.LabelFor(m => m.Code)</label>
        <div>
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>

    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
}
