@{
    ViewBag.Title = "Ресторан \"Швейк\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_img"><img src="@Url.Content("~/Content/pic/main_photo.jpg")" alt="" width="100%"></div>

<div class="headerlgt"><a name="about"></a>О нас</div>
<div class="text">
    <p>
        Стильное место для приятного общения – это пивной ресторан «Швейк». Удобное расположение в центре Волгограда, тихая обстановка, широкий выбор блюд традиционной чешской и европейской кухни. «Швейк» идеально подходит для людей с тонким вкусом к жизни и отдыху.</BR>
        Атмосферу тепла и уюта создает мягкий свет, массивная деревянная мебель с фирменным логотипом. Оригинальность интерьеру добавляют макеты самолетов под потолком и большой аквариум с живыми раками в холле.
        </BR>Своим гостям «Швейк» предлагает три вместительных зала для дружеского общения, деловых встреч, романтических свиданий и семейных торжеств. А для спортивных болельщиков есть отдельный зал с большим экраном, где просмотр спортивных трансляций отлично сочетается с кружкой настоящего чешского пива.
        </BR>В «Швейке» можно не только весело отдохнуть вечером, но и хорошо покушать днем. Здесь вам предложат угощения на любой вкус: фирменную рульку с золотистой корочкой, домашние колбаски собственного приготовления, утку с капустой. Блюда традиционной чешской и европейской кухни никого не оставят равнодушным. Острая куриная соломка в хрустящей золотистой панировке, тигровые креветки в кляре, жареные картофельные палочки с беконом, шейки куриные жареные с острым соусом табаско. Каждое блюдо заслуживает отдельного внимания. Меню «Швейка» также изобилует выбором горячих закусок к пиву. Швартские вареники — эксклюзивное предложение от шеф-повара. Богатая винная карта ресторана также предлагает широкий выбор разнообразных напитков. В «Швейке» всегда можно заказать различные блюда с собой.
        </BR>В теплое время года для гостей ресторана открыта просторная летняя терраса. Здесь все продумано для комфорта посетителей: удобная мебель из натурального дерева, система охлаждения, стильные гардины. Непринужденный отдых на свежем воздухе дополняют легкая музыка, плазменные телевизоры и свободный Wi-Fi.
        </BR>Безупречный сервис, авторские блюда, неповторимая атмосфера Чехии – «Швейк» к вашим услугам!
    <p class="thumb">
        <a href="@Url.Content("~/Content/pic/guests/photo01.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo01sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo02.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo02sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo03.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo03sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo04.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo04sm.jpg")" alt="" width="220"></a>
    </p>
    <p class="thumb">
        <a href="@Url.Content("~/Content/pic/guests/photo05.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo05sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo06.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo06sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo07.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo07sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo08.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo08sm.jpg")" alt="" width="220"></a>
    </p>
    <p class="thumb">
        <a href="@Url.Content("~/Content/pic/guests/photo09.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo09sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo10.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo10sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo11.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo11sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo12.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo12sm.jpg")" alt="" width="220"></a>
    </p>
    <p class="thumb">
        <a href="@Url.Content("~/Content/pic/guests/photo13.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo13sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo14.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo14sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo15.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo15sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo16.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo16sm.jpg")" alt="" width="220"></a>
    </p>
</div>
<div class="up"><a href="#up"><img src="@Url.Content("~/Content/pic/arrow-up.png")" alt="Наверх" title="Наверх"></a></div>

<div class="headergrn"><a name="foodmenu"></a><a name="businesslunch"></a><a name="about"></a>Меню</div>
<div class="text">
    <p align="center"><a href="#main_menu" class="foodmenu">Основное меню</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#businesslunch" class="foodmenu">Бизнес-ланч</a></p>
    <p>&nbsp;</p>
    <img src="@Url.Content("~/Content/pic/menu1.png")" alt="Меню 1"><img src="@Url.Content("~/Content/pic/menu2.png")" alt="Меню 1"> </BR>
    <img src="@Url.Content("~/Content/pic/menu3.png")" alt="Меню 1"><img src="@Url.Content("~/Content/pic/menu4.png")" alt="Меню 1"> </BR>
</div>
<div class="up"><a href="#up"><img src="@Url.Content("~/Content/pic/arrow-up.png")" alt="Наверх" title="Наверх"></a></div>


<div class="headerlgt"><a name="news"></a>Новости</div>
<div class="text">
    <p>
        Скидка 20% предоставляется именинникам при заказе столика на воскресенье.
    </p><p>
        В любой другой день скидка составляет 15%
    </p><p>
        Скидки действуют в День Рождения, а также в течение 1 недели после (при предъявлении паспорта или любого другого документа, удостоверяющего личность и дату рождения).
    </p><p>
        Скидки не суммируются и не распространяются на бонусную программу.
    </p>
</div>
<div class="up"><a href="#up"><img src="@Url.Content("~/Content/pic/arrow-up.png")" alt="Наверх" title="Наверх"></a></div>


<div class="headergrn"><a name="guests"></a>Гостевая книга</div>
<div class="text">
    <div class="guest">Георгий, 07-02-2017</div>
    <div class="comment">Вчера отмечали с небольшой компанией свой день рожденья. Кухня на высоте, любимые мной запечённые свиные рёбра все так же замечательно-волшебны. А обслуживание просто на высоте. Время провели очень замечательно. Спасибо большое. Обязательно придём ещё.</div>

    <div class="guest">Валентин, 07-02-2017</div>
    <div class="comment">Вчера отмечали с небольшой компанией свой день рожденья. Кухня на высоте, любимые мной запечённые свиные рёбра все так же замечательно-волшебны. А обслуживание просто на высоте. Время провели очень замечательно. Спасибо большое. Обязательно придём ещё.</div>
    <div class="adm">Администрация ресторана, 07-02-2017</div>
    <div class="admcomment">Валентин, добрый день! Спасибо за отзыв. Примите наши поздравления! Надеемся увидеть Вас и Ваших друзей еще не раз!</div>

    <div class="guest">Георгий, 07-02-2017</div>
    <div class="comment">Вчера отмечали с небольшой компанией свой день рожденья. Кухня на высоте, любимые мной запечённые свиные рёбра все так же замечательно-волшебны. А обслуживание просто на высоте. Время провели очень замечательно. Спасибо большое. Обязательно придём ещё.</div>
</div>
<div class="up"><a href="#up"><img src="@Url.Content("~/Content/pic/arrow-up.png")" alt="Наверх" title="Наверх"></a></div>

<div class="headerlgt"><a name="gallery"></a>Фотогалерея</div>
<div class="textctr">
    <div class="topik">23 февраля 2017 года</div>
    <div class="thumb">
        <a href="@Url.Content("~/Content/pic/guests/photo05.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo05sm.jpg")" alt="" width="220" class="thumb"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo06.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo06sm.jpg")" alt="" width="220" class="thumb"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo07.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo07sm.jpg")" alt="" width="220" class="thumb"></a>
        <a href="#gallery"><img src="@Url.Content("~/Content/pic/arrow-more.png")" alt="Фотогалерея" title="Перейти в Фотогалерею" width="70"></a>
    </div>

    <p class="thumb"></p>
    <div class="topik">Фестиваль пива 2016 года</div>
    <div class="thumb">
        <a href="@Url.Content("~/Content/pic/guests/photo13.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo13sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo14.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo14sm.jpg")" alt="" width="220"></a>
        <a href="@Url.Content("~/Content/pic/guests/photo15.jpg")" target="_blank"><img src="@Url.Content("~/Content/pic/photo15sm.jpg")" alt="" width="220"></a>
        <a href="#gallery"><img src="@Url.Content("~/Content/pic/arrow-more.png")" alt="Фотогалерея" title="Перейти в Фотогалерею" width="70"></a>
    </div>
</div>
<div class="up"><a href="#up"><img src="@Url.Content("~/Content/pic/arrow-up.png")" alt="Наверх" title="Наверх"></a></div>

<div class="headergrn"><a name="delivery"></a>Доставка</div>
<div class="textctr">
    <div class=delivery">
        Бесплатная доставка блюд по городу при заказе от 1000 рублей.</BR>
        Блюда доставляются в герметичной упаковке.
        Заказы принимаются по телефону 8(8442)38-09-36 с 12 до 22 часов. </BR>
        <a href="http://shveyk.parohot.ru/" class="deliverylink" target="_blank"><img src="@Url.Content("~/Content/pic/logo_parohot.png")" alt="Paro-hot" title="Paro-hot" width="200px" class="deliveruimage"></a>
        <a href="https://www.delivery-club.ru/entities/food/" class="deliverylink" target="_blank"><img src="@Url.Content("~/Content/pic/logo_delivery.png")" alt="Delivery Club" title="Delivery Club" width="200px" class="deliveruimage"></a>
        <a href="http://vkus-goroda.ru/point/shvejk_35" class="deliverylink" target="_blank"><img src="@Url.Content("~/Content/pic/logo_vkusgoroda.png")" alt="Вкус города" title="Вкус города" width="200px" class="deliveruimage"></a>
    </div>

    <div class="contacts">
        Мы в соцсетях:
        <p>
            <a href="http://vk.com/public61192011" target="_blank"><img src="@Url.Content("~/Content/pic/logo-vk.png")" width="70"></a>
            <a href="https://www.instagram.com/svejk_restaurant" target="_blank"><img src="@Url.Content("~/Content/pic/logo-instagram.png")" width="70"></a>
            <a href="https://www.facebook.com/groups/792376120776964/" target="_blank"><img src="@Url.Content("~/Content/pic/logo-facebook.png")" width="70"></a>
        </p>
        <p>&nbsp;</p>
        <div class="textbig">Ресторан "Швейк"</div>
        <div class="ttext">
            Режим работы с 12-00 до 24-00 <BR />
            г. Волгоград, ул. Советская, д. 3 <BR />
            тел. 8 (8442) 38-09-36
        </div>
    </div>
    <div class="warning">Чрезмерное употребление алкоголя вредит вашему здоровью</div>
</div>
<!--		<div class="headerlgt"><a name="contacts"></a>Контакты</div>
            <div class="text">
            <p>Стильное место для приятного общения – это пивной ресторан «Швейк». Удобное расположение в центре Волгограда, тихая обстановка, широкий выбор блюд традиционной чешской и европейской кухни. «Швейк» идеально подходит для людей с тонким вкусом к жизни и отдыху.</BR>
            Атмосферу тепла и уюта создает мягкий свет, массивная деревянная мебель с фирменным логотипом. Оригинальность интерьеру добавляют макеты самолетов под потолком и большой аквариум с живыми раками в холле.
            </p>
            </div> -->
