@model T034.ViewModel.PageViewModel

@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrEdit", "Page"))
{
    <div class="control-group warning">
        <label class="control-label">@Html.LabelFor(m => m.Title)</label>
        <div>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.HiddenFor(m => m.Id)
        </div>
        
        <label class="control-label">@Html.LabelFor(m => m.Comment)</label>
        <div>
            @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
        </div>

        <label class="control-label">@Html.LabelFor(m => m.Content)</label>
        <div>
            @Html.TextAreaFor(m => m.Content, new Dictionary<string, object> { { "class", "input-xxlarge" }, { "id", "content" } })
        </div>

    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
}

<br>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Назначить пункт меню
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                @using (Html.BeginForm("Set", "Menu"))
                {
                    @Html.Hidden("Url", Model.IndexUrl)
                    <div>
                        @Html.DropDownList("Id", Model.MenuItems, new { @class = "form-control" })
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Назначить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



