@model IEnumerable<T034.ViewModel.MenuItemViewModel>

@{
    ViewBag.Title = "Пункты меню";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("Добавить", "AddOrEdit", "Menu")
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Название</th>
            <th>Url</th>
            <th>Родитель</th>
            <th>Порядок</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Title</td>
        <td>@item.Url</td>
        <td>@item.Parent</td>
        <td>@item.OrderIndex</td>
        <td>
            <a href="@Url.Action("AddOrEdit", new { id = item.Id})" title="Редактировать"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="@Url.Action("Delete", new { menuItemId = item.Id})" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
      </tr>
    }
    </tbody>
</table>
