@model T034.ViewModel.NewsViewModel
@{
    ViewBag.Title = "Редактирование новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrEdit", "News"))
{
    <legend>Редактирование новости</legend>
    <div class="control-group warning">
        <label class="control-label">@Html.LabelFor(m => m.NewslineId)</label>
        <div>
            @Html.DropDownListFor(m => m.NewslineId, Model.Newslines, new {@class = "form-control"})
        </div>

        <label class="control-label">@Html.LabelFor(m => m.Title)</label>
        <div>
            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
            @Html.HiddenFor(m => m.Id)
        </div>

        <label class="control-label">@Html.LabelFor(m => m.Resume)</label>
        <div>
            @Html.TextBoxFor(m => m.Resume)
        </div>

        <label class="control-label">@Html.LabelFor(m => m.Body)</label>
        <div>
            @Html.TextAreaFor(m => m.Body)
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
        @if (Model.Id > 0)
        {
            <div>@Html.ActionLink("Удалить", "Delete", new { id = Model.Id })</div>
        }
    </div>
}
