@using T034.Models
@model T034.ViewModel.FolderViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    <h2>@Model.Name</h2>
    @Html.ActionLink("Вверх", "Edit", "Folder", new { id = Model.ParentFolderId }, null)
    using (Html.BeginForm("CreateFolder", "Folder"))
    {
        <div  class="input-group">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Value = "" })
            @Html.HiddenFor(m => m.ParentFolderId, new { Value = Model.Id > 0 ? Model.Id : (int?)null })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Создать</button>
              </span>
        </div>
    }
        
    <div class="list-group">
        @if (Model.Files != null)
        {
            foreach (var item in Model.Files)
            {
                <div class="list-group-item">
                    <i class="fa @item.FileIcon"></i> <a href="@item.Url" target="_blank">@item.Name</a>
                    <span class="pull-right">@item.Size @item.DownloadCounter @item.User @item.LogDate <a href="@Url.Action("DeleteFile", "Folder", new { id = item.Id }, null)"><i class="fa fa-trash-o"></i></a></span>
                </div>
            }
        }
    </div>
    if (Model.SubDirectories != null)
    {
        foreach (var item in Model.SubDirectories)
        {
            if (string.IsNullOrEmpty(item.Name))
            {
                item.Name = "<Без имени>";
            }
             <div class="list-group">
                @Html.ActionLink(item.Name, "Edit", "Folder", new { id = item.Id }, new { @class = "list-group-item active" })
                @foreach (var fileViewModel in item.Files)
                {
                    <div class="list-group-item">
                        <i class="fa @fileViewModel.FileIcon"></i> <a href="@fileViewModel.Url" target="_blank">@fileViewModel.Name</a>
                        <span class="pull-right">@fileViewModel.Size @fileViewModel.User @fileViewModel.LogDate</span>
                    </div>
                }
            </div>
        }
    }
}

@if (!string.IsNullOrEmpty(Model.Name))
{
    using (Html.BeginForm("DeleteFolder", "Folder"))
    {
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Id)
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Удалить папку @Model.Name</button>
        </div>
    }
    @Html.Partial("FileUploadPartialView", new FileUploadModel
    {
        Url = "/Folder/UploadFile",
        Folder = Model.Id.ToString()
    })

    <br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Назначить пункт меню
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @using (Html.BeginForm("Set", "Menu"))
                    {
                        @Html.Hidden("Url", Model.IndexUrl)
                        <div>
                            @Html.DropDownList("Id", Model.MenuItems, new { @class = "form-control" })
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Назначить</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}