@model T034.ViewModel.FolderViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <div class="list-group">
        @if (Model.Files != null)
        {
            foreach (var item in Model.Files)
            {
                <a class = "list-group-item" href="@item.Url" target="_blank">
                    <i class="fa @item.FileIcon"></i> @item.Name
                    <span class="pull-right">@item.LogDate @item.Size</span>
                </a>
            }
        }
    </div>
    if (Model.SubDirectories != null)
    {
        foreach (var item in Model.SubDirectories)
        {
            if (string.IsNullOrEmpty(item.Name))
            {
                item.Name = "<Без имени>";
            }
            
            <div class="list-group">
                @Html.ActionLink(item.Name, "Index", "Folder", new {id = item.Id}, new {@class = "list-group-item active"})
                @foreach (var fileViewModel in item.Files)
                {
                    <a class="list-group-item" href="@fileViewModel.Url" target="_blank">
                        <i class="fa @fileViewModel.FileIcon"></i> @fileViewModel.Name
                        <span class="pull-right">@fileViewModel.Size</span>
                    </a>
                }
            </div>

        }
    }
}
